{% extends 'base.html' %}

{% block content %}
<h1>TO DO, wersja 0.02</h1>
<ul>
    <li>Tworzenie użytkowników przez WWW/media społecznościowe</li>
        <p>Zgodnie z przykładami i poradnikami</p>
    <li>"Odhaczanie" zadań wykonanych przez użytkownika</li>
    <li>Wyszukiwanie zadań wg domeny, wykonanych i niewykonanych</li>
        <p>Bardziej rozbudowane filtry</p>
    <li>Dodawanie, wyświetlanie i wyszukiwanie ekwipunku i innych przedmiotów</li>
        <p>Powielamy istniejące struktury; dodajemy też model Npc z informacjami o NPC-u,
            który danym ekwipunkiem dysponuje.</p>
    <li>Gamifikacja całości</li>
        <p>dodatkowe procesory kontekstu</p>
    <li>Szata graficzna</li>
    <li>Dodawanie postaci dla użytkowników</li>
        <p>Jak w wielu grach MMO, każdy użytkownik może mieć kilka postaci. Docelowo chcemy ustawiać osobną checklistę zadań dla każdej postaci, nie wyłącznie dla użytkownika.</p>
    <li>Lokalizacja portalu</li>
        <p>Angielska, polska, niemiecka, szwedzka wersja językowa interfejsu</p>
</ul>
<img src="https://vignette.wikia.nocookie.net/fantendo/images/4/49/Realistic-fire-animated-transparent-gif.gif/revision/latest?cb=20150324012556">
{% endblock%}